@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  font-feature-settings: 'liga' 1, 'kern' 1;
  background-color: #f4f4f5;
}

* {
  scroll-behavior: smooth;
}

